.main{
  display: flex;
  justify-content:center;
  align-items:center;
}



.box{
  width: 35%;
  min-width: 500px;
  height: auto;
  padding:20px;
  background-color:rgb(174, 0, 255);
  border-radius: 15px;
}

form{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 120px;
}

form div{
  display: flex;
  height: 35px;
  margin-bottom: 10px;
}

form div input[type="text"]{
  width: 80%;
  height:100%;
  border-radius:20px;
  border:none;
  margin-right: 5px;
}
form div button,span { 
  width: 20%;
  height:100%;
  border:none;
  border-radius:20px;
  background-color: #fff;
  display: flex;
  justify-content:center;
  align-items:center;
  box-shadow:3px 3px 6px rgb(0, 0, 0),3px 3px 8px rgb(0, 0, 0);

}
 

form textarea{
  width: 100%;
  height:30%;
  border:none;
  border-radius: 20px;
}
.list{
  /* border:1px solid white; */
  box-shadow:1px 2px 12px white,1px 2px 12px white;
  padding:10px;
  margin-bottom: 20px;
}
.todo{
  width: 100%;
  height:40px;
  display: flex;
  justify-content:center;
  align-items:center;
}

.todo input[type="checkbox"]{
  width:5%; 
}

.todo h3{
  color:white;
  width:55%;
  margin-right: 5px;
}

.todo p{
  color:white;
  width:40%;
  margin-right: 5px;
}

.todo .edit,.delete{
  width:20%;
  margin-right: 5px;
  border:none;
  height:30px;
  border-radius: 20px;
  box-shadow:3px 3px 5px rgb(0, 0, 0),3px 3px 10px rgb(0, 0, 0);

} 

.details{
  width: 100%;
  height:40px;
  display: flex;
  align-items:center;
  color: white !important;
}
.complete{
  text-decoration: line-through;
}